.item {
    display: flex;
    align-items: center;
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #3a4a55;
  }
  
  .icon {
    border:3px solid rgb(255, 255, 255);    
    height:50px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:50px;
  }
  
  .item:hover {
    background-color: #3a4a55;
  }
  
  .info {
    margin-left: 12px;
  }
  
  .name {
    font-weight: bold;
  }
  
  .status_open {
    font-size: 0.9em;
    color: #0fe42b;
  }

  .status_chatting {
    font-size: 0.9em;
    color: #00eeff;
  }
  